#!/usr/bin/env xdg-open
[Desktop Entry]
Name=EmuDeck BETA
Exec=curl https://raw.githubusercontent.com/dragoonDorise/EmuDeck/beta/install.sh | bash -s -- BETA
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false