#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Fix FFVII Remake Dynamic Resolution
Exec=curl https://raw.githubusercontent.com/dragoonDorise/ffviiremake-fix-steamdeck/main/install.sh | bash -s -- INTERNAL
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
